.form-group{
  margin: 0 -15px 15px;
}

.center{
  text-align: center;
}

.administration{
  i{
    font-size: 14px;
    vertical-align: middle;
  }
}

.task-util-button{
  min-width: 100px;
  margin-top: 25px;
  float: right;
}
