.panel-heading{
  min-height: 39px;

  h2{
    float: left;
    margin: 0px;
  }

  .panel-title{
    float: left;
  }

  a{
    float: right;
    color: white;
    margin-left: 10px;

    &:hover{
      cursor: pointer;
      color: $mdb-text-color-primary;
    }

    i{
      font-size: 21px;
    }
  }
} // .panel-heading

.dashboard{
  .panel-heading{
    min-height: 39px;

    a{

      i{
        font-size: 30px;
      }
    }
  }
  .panel-body{
    .btn{
      padding-left: 10px;
    }
    .next{
      vertical-align: middle;
    }
    .type{
      padding: 0 10px;
    }
  }
}

.well > .heading{
  margin-top: 0px;
}
