.btn{
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  border:none;

  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

a:hover{
  cursor: pointer;
  color:white;
}

.btn-icon {
  position: relative;
  padding-left: 3em !important;

  i {
    position: absolute;
    top: 50%;
    left: 1em;
    transform: translate(-50%, -50%);
  }
}

.btn-xs{
  padding: 4px 15px;
}

.btn-blue{
  background: linear-gradient(to right,#3ec7e0,#526bf4);

  &:hover{
    background: linear-gradient(to right,darken(#3ec7e0, 10%),darken(#526bf4, 10%));
  }
}

.btn-red{
  background: linear-gradient(to right,#e052a0,#f15c41);

  &:hover{
    background: linear-gradient(to right, darken(#e052a0,10%), darken(#f15c41,10%))
  }
}

.mat-dialog-container {
    background: $blue-light;
}

.snackbar-success{
  background-color: $brand-success !important;
}

.snackbar-error {
  background-color: $brand-danger !important;
}

hr{
  margin: 10px 0;
  border-color: $blue-dark;
}

.login-form {
  max-width: 420px;
  margin: 0 auto;
}

.login-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
