input {
    box-shadow: none !important;
}

md-input-container {
  font-size: 1.25em;
}

.mat-input-placeholder, .mat-select-placeholder{
  font-weight: lighter;
  font-size: 16px;
}

.mat-radio-label-content {
  font-weight: 300 !important;
}

md-radio-button {
  margin: 10px 0
}

.mat-autocomplete-panel {
  max-width: none !important;
}

.full-width {
  width: 100%;
}
.mat-select-value{
  color: $steel-blue;
}
