.navbar .navbar-nav > li {
  > .active, > .active:hover, > .active:focus{
    color: white;
  }

  a:focus{
    background-color: transparent;
  }
}


.navbar{
    background-color: $blue-light;
    //background-image: linear-gradient(to bottom, $blue-light, $blue-dark);
    //border: none;

    li a{
      color: $blue-steel;

      &:hover{
        color: white;
        background-color: transparent;
      }
    }

    .navbar-brand{
      font-family: baloo;
      font-size: 28px;
      line-height: 20px;
    }

}
