<div class="panel panel-primary">

  <div class="panel-heading">
    <h3 class="panel-title">{{unit.name}}</h3>
  </div>

  <div class="panel-body">
  <div *ngIf="unit">
      <div class="row">
          <div class="col-sm-12">
              <div *ngIf="!unit.input.length">
                  <a class="btn btn-raised btn-xs">No Input</a>
              </div>
              <div *ngFor="let input of unit.input">
                  <div class="row">
                      <div class="col-lg-2">
                          <a class="btn btn-raised btn-xs btn-blue">{{input.name}}</a>
                      </div>
                      <md-radio-group ngModel="input.type">
                        <div class="col-lg-5">
                          <md-radio-button value="0">
                            Static
                          </md-radio-button>
                        </div>
                        <div class="col-lg-5">
                          <md-radio-button value="1">
                            Variable
                          </md-radio-button>
                        </div>
                      </md-radio-group>
                  </div>
                  <div class="row">
                      <div class="col-lg-12">
                          <span [ngSwitch]="input.type">
                              <template ngSwitchCase="string">
                                <input class="form-control" type="text">
                              </template>
                              <template ngSwitchCase="int">
                                  <input class="form-control" type="number">
                              </template>
                              <template ngSwitchCase="interface {}">
                                  <input class="form-control" type="text">
                              </template>
                              <template ngSwitchDefault>Unknown input</template>
                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-12">
              <span *ngIf="!unit.output.length">
                  <a class="btn btn-raised btn-xs">No Output</a>
              </span>
              <span *ngFor="let output of unit.output">
                  <a class="btn btn-raised btn-xs btn-success">{{output.name}}</a>
              </span>
          </div>
      </div>
  </div>
  </div>
</div>
