<div class="panel panel-primary">

  <div class="panel-heading">
    <h3 class="panel-title">{{unit.name}}</h3>
  </div>

  <div class="panel-body">
  <div *ngIf="unit">
      <div class="row">
          <div class="col-sm-12">
              <div *ngIf="!unit.input.length">
                  <a class="btn btn-raised btn-xs">No Input</a>
              </div>
              <div *ngFor="let input of unit.input">
                  <div class="row">
                      <div class="col-lg-2">
                          <a class="btn btn-raised btn-xs btn-blue">{{input.name}}</a>
                      </div>
                      <div class="col-lg-10" *ngFor="let ingr of input.recipe">
                        <div class="row">
                          <md-radio-group [(ngModel)]="ingr.type">
                            <div class="col-lg-2">
                              <md-radio-button value="0">
                                Variable
                              </md-radio-button>
                            </div>
                            <div class="col-lg-2">
                              <md-radio-button value="1">
                                Static
                              </md-radio-button>
                            </div>
                          </md-radio-group>
                          <div class="col-lg-8">
                            <span [ngSwitch]="ingr.type">
                              <template ngSwitchCase="0">
                                <a class="btn btn-raised btn-xs btn-green">{{ingr.source}}</a>
                                <a class="btn btn-raised btn-xs btn-success">{{ingr.value}}</a>
                              </template>
                              <template ngSwitchCase="1">
                                <span [ngSwitch]="input.type">
                                    <template ngSwitchCase="string">
                                      <md-input-container class="fluid">
                                        <input mdInput [placeholder]="input.name" [(value)]="ingr.value">
                                      </md-input-container>
                                    </template>
                                    <template ngSwitchCase="int">
                                        <input class="form-control" type="number">
                                    </template>
                                    <template ngSwitchCase="interface {}">
                                        <input class="form-control" type="text">
                                    </template>
                                    <template ngSwitchDefault>Unknown input</template>
                                </span>
                              </template>
                            </span>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-sm-12">
              <span *ngIf="!unit.output.length">
                  <a class="btn btn-raised btn-xs">No Output</a>
              </span>
              <span *ngFor="let output of unit.output">
                  <a class="btn btn-raised btn-xs btn-success">{{output.name}}</a>
              </span>
          </div>
      </div>
  </div>
  </div>
</div>
