<div class="panel panel-primary">

  <div class="panel-heading">
    <h3 class="panel-title">{{unit.name}}</h3>
    <div class="panel-actions">
    <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
        <button md-menu-item (click)="delete()">
            <md-icon>delete</md-icon>
            <span>Remove Unit</span>
        </button>
        <button md-menu-item (click)="moveUp()">
            <md-icon>arrow_upward</md-icon>
            <span>Move up</span>
        </button>
        <button md-menu-item (click)="moveDown()">
            <md-icon>arrow_downward</md-icon>
            <span>Move Down</span>
        </button>
    </md-menu>
    </div>
  </div>

  <div class="panel-body">
    <div *ngIf="!unit.name">
      <form (ngSubmit)="changeUnitName(unitname)">
        <md-input-container class="full-width">
          <input name="unitname" mdInput placeholder="Unit Name" autocomplete="off" required
             [(ngModel)]="unitname">
        </md-input-container>
      </form>
    </div>
    <div *ngIf="unit.name">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="bold">Input</h4>
        </div>
        <div class="col-sm-12">
          <!-- Unit doesn't take input -->
          <div *ngIf="!unit.input.length">
            <a class="btn btn-default btn-xs">No Input</a>
          </div>

          <!-- Unit takes input  -->
          <div *ngFor="let input of unit.input">
            <div class="row">

              <div class="col-lg-2">
                <a class="btn btn-xs btn-blue">{{input.name}}</a>
              </div>

              <!-- For each input field  -->
              <div class="col-lg-10" *ngFor="let ingr of input.recipe">
                <ingredient [model]="ingr" [input]="input" [task]="task"></ingredient>
              </div>

            </div>
          </div>
        </div>
      </div>

      <hr>
      
      <div class="row">
        <div class="col-sm-12">
          <h4 class="bold">Output</h4>
        </div>

        <div class="col-sm-12">
          <span *ngIf="!unit.output.length">
            <a class="btn btn-raised btn-xs">No Output</a>
          </span>

          <span *ngFor="let output of unit.output">
            <a class="btn btn-raised btn-xs btn-red">{{output.name}}</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
