<main class="container dashboard">

<div class="well">
  <!-- All panels -->
  <div *ngFor="let task of tasks" class="panel panel-primary">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-12">
          <h2>{{task.name}}</h2>
          <a routerLink="/administration/{{task.name}}" mdTooltip="Edit {{task.name}}" mdTooltipPosition="above"><i class="material-icons">settings</i></a>
          <a (click)="runTask(task)" mdTooltip="Run Task" mdTooltipPosition="above"><i class="material-icons">play_arrow</i></a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <a class="btn btn-raised"><i class="type material-icons">notifications</i>{{task.event.name}}</a>

      <template ngFor let-action [ngForOf]="task.actions">
        <i class="next material-icons">arrow_forward</i>
        <a class="btn btn-raised"><i class="type material-icons">computer</i>{{action.name}}</a>
      </template>

    </div>
  </div>
</div>

</main>
