<main class="container dashboard">

<div class="well">
  <!-- All panels -->
  <div *ngFor="let task of tasks" class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{task.taskName}}</h3>
      <a href=""><i class="material-icons">settings</i></a>
    </div>
    <div class="panel-body">
      <a href="#" class="btn btn-raised"><i class="type material-icons">notifications</i>{{task.event}}</a>
      <i class="next material-icons">arrow_forward</i>

      <template ngFor let-converter [ngForOf]="task.converters">
        <a href="#" class="btn btn-raised"><i class="type material-icons">computer</i>{{converter.converterName}}</a>
        <i class="next material-icons">arrow_forward</i>
      </template>

      <a href="#" class="btn btn-raised"><i class="type material-icons">cloud_upload</i>{{task.action}}</a>
    </div>
  </div>
</div>

</main>
