<div class="event link" [style.background]="event.color" routerLink="/dashboard/{{event.uuid}}">
  <i class="fa fa-5x" [ngClass]="event.icon"></i>
  <header class="event-title">
    <p>{{event.package()}}</p>
    <h3>{{event.lastname()}}</h3>
  </header>
  <footer>
    <span class="tag"><span>Name</span>{{event.name}}</span>
    <span class="tag"><span>Tasks</span>{{event.subscribers.length}}</span>
    <md-slide-toggle color="primary" (change)="changeStatus($event)" [disabled]="slideDisabled" >Enable/Disable{{eventStatus}}</md-slide-toggle>
  </footer>
</div>
