<div class="container administration">
  <div class="row">

    <!-- List of admin tools -->
    <main *ngIf="!editorState" class="col-lg-9 col-md-12">
      <div class="well">
        <div class="row">
          <div class="col-sm-6">
            <h1 class="heading">Task</h1>
          </div>

          <div class="col-sm-6">
            <a *ngIf="!task" routerLink="/administration/task" class="btn btn-blue task-util-button">Open Task Editor</a>
          </div>
        </div>
      </div>

      <div class="well">
        <div class="row">
          <div class="col-sm-6">
            <h1 class="heading">Event</h1>
          </div>

          <div class="col-sm-6">
            <a *ngIf="!task" routerLink="/administration/event" class="btn btn-blue task-util-button">Open Event Editor</a>
          </div>
        </div>
      </div>

    </main>

    <!-- Task editor -->
    <main *ngIf="editorState" class="col-lg-9 col-md-12">

      <!-- Task editor -->
      <taskeditor *ngIf="!eventActive" [task]="task"></taskeditor>

      <!-- Event editor -->
      <eventeditor *ngIf="!taskActive" [event]="event"></eventeditor>

    </main>


    <div class="col-lg-3 col-md-12">
      <div class="row">

        <!-- Services -->
        <aside class="col-lg-12 col-md-6">
          <div class="well">
            <h2 class="heading">Service Overview</h2>

            <div mdTooltip="You must unlock in order to get advanced features" mdTooltipPosition="right" class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Facebook</h3>
                <a>Unclock</a>
              </div>
            </div>
            <div mdTooltip="You must unlock in order to get advanced features" mdTooltipPosition="right" class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Google</h3>
                <a>Unclock</a>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Dummy Units</h3>
              </div>
              <div class="panel-body">
                <div *ngFor="let unit of units">
                  <strong>{{unit.id}}</strong>
                  <p>{{unit.description}}</p>
                </div>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Template Events</h3>
              </div>
              <div class="panel-body">
                <div *ngFor="let event of templateEvents">
                  <strong>{{event.id}}</strong>
                  <p>{{event.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </aside>

        <!-- Tasks -->
        <aside class="col-lg-12 col-md-6">
          <div class="well">
            <h2 class="heading">Existing tasks</h2>

            <div *ngFor="let task of tasks" class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">{{task.name}}</h3>
                <a mdTooltip="Edit {{task.name}}" mdTooltipPosition="above" routerLink="/administration/task/{{task.name}}"><i class="material-icons">settings</i></a>
              </div>
              <div class="panel-body">
                <p>{{task.event.name}}
                  <template ngFor let-action [ngForOf]="task.actions">
                    <i class="next material-icons">arrow_forward</i>
                    {{action.name}}
                  </template>
                </p>
              </div>
            </div>
          </div>
        </aside>

        <!-- Events -->
        <aside class="col-lg-12 col-md-6">
          <div class="well">
            <h2 class="heading">Existing events</h2>

            <div *ngFor="let ev of events" class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">{{ev.name}}</h3>
              </div>
              <div class="panel-body">
                <template ngFor let-input [ngForOf]="ev.input">
                  <p><b>{{input.name}}</b> <span *ngFor="let ingr of input.recipe">{{ingr.value}}</span></p>
                </template>
              </div>
            </div>
          </div>
        </aside>


      </div>
    </div>
  </div>

</div>
