<div class="container-fluid administration">
  <div class="row">

    <aside class="col-md-3">
      <div class="well">
      <h1 class="heading">Service Overview</h1>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Facebook</h3>
          <a>Unclock</a>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Google</h3>
          <a>Unclock</a>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Mock Units</h3>
        </div>
        <div class="panel-body">
            <div *ngFor="let unit of units">
              <strong>{{unit.id}}</strong>
              <p>{{unit.description}}</p>
            </div>
        </div>
      </div>
    </div>
    </aside>

    <main class="col-md-6">
      <div class="well">
      <h1 class="heading">Task Editor</h1>
      <div class="panel panel-primary">

        <div class="panel-heading">
          <h3 class="panel-title">Editor</h3>
        </div>

        <div class="panel-body">

          <div class="form-group row">
            <label class="col-md-2 col-lg-1 control-label">Unit</label>
            <div class="col-md-10 col-lg-11">
              <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>

          <div class="center">
            <a class="btn btn-raised btn-blue" (click)="getUnitsByType('interface {}')">Add Action</a>
            <a class="btn btn-success btn-raised" (click)="createMockTask()">Save</a>
          </div>

        </div>
      </div>
      </div>
    </main>

    <aside class="col-md-3">
      <div class="well">
      <h1 class="heading">Existing tasks</h1>

      <div *ngFor="let i of [1,2,3,4,5,6]" class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Facebook bla bla mock task</h3>
          <a href=""><i class="material-icons">settings</i></a>
        </div>
        <div class="panel-body">
          <p>Bla bla <i class="next material-icons">arrow_forward</i> bla <i class="next material-icons">arrow_forward</i> bla <i class="next material-icons">arrow_forward</i> Action</p>
        </div>
      </div>

    </div>
    </aside>
  </div>

</div>
