<div [ngSwitch]="input.type">

  <!-- Cron type -->
  <div *ngSwitchCase="'cron.Time'" class="row">
    <div class="col-lg-8">

      <md-select placeholder="Every" [(ngModel)]="selectedType" (ngModelChange)="typeToNumber()">
        <md-option [value]="0">Minute</md-option>
        <md-option [value]="1">Hour</md-option>
      </md-select>

      <!-- Choose time unit -->
      <span [ngSwitch]="selectedType">
        <template ngSwitchCase="0">
          <md-select placeholder="min" [(ngModel)]="selectedNumber" (ngModelChange)="updateIngrValue()">
              <md-option *ngFor="let int of minute" [value]="int">{{ int }}</md-option>
          </md-select>
        </template>

        <template ngSwitchCase="1">
          <md-select placeholder="hour" [(ngModel)]="selectedNumber"  (ngModelChange)="updateIngrValue()">
              <md-option *ngFor="let int of hour" [value]="int">{{ int }}</md-option>
          </md-select>
        </template>
      </span>

      <span *ngIf="ingr.value">Fires {{ingr.value}}</span>
    </div>
  </div>

  <!-- Facebook type -->
  <div *ngSwitchCase="'facebook.Token'">

  </div>

  <!--  Common types -->

  <div *ngSwitchCase="'string'">
      <md-input-container class="fluid">
          <input mdInput [placeholder]="input.name" [(ngModel)]="ingr.value">
      </md-input-container>
  </div>

  <div *ngSwitchCase="'int'">
      <md-input-container class="fluid">
          <input mdInput [placeholder]="input.name" type="number" [(ngModel)]="ingr.value">
      </md-input-container>
  </div>

  <div *ngSwitchCase="'float64'">
      <md-input-container class="fluid">
          <input mdInput [placeholder]="input.name" type="number" [(ngModel)]="ingr.value">
      </md-input-container>
  </div>

  <div *ngSwitchCase="'interface {}'">
      <md-input-container class="fluid">
          <input mdInput [placeholder]="input.name" type="text" [(ngModel)]="ingr.value">
      </md-input-container>
  </div>


  <!-- whatever -->
  <div *ngSwitchDefault>

  </div>

</div>
