/* You can add global styles to this file, and also import other style files */

$fa-font-path: "../node_modules/font-awesome/fonts";

@import '~bootstrap-sass/assets/stylesheets/bootstrap-sprockets';
@import 'scss/bootstrap';

@import '~@angular/material/prebuilt-themes/pink-bluegrey';
@import '~font-awesome/scss/font-awesome';

@import 'scss/util';
@import 'scss/elements';
@import 'scss/dashboard';
@import 'scss/header';
@import 'scss/administration';
@import 'scss/forms';
@import 'scss/unit';
@import 'scss/event';


// Always show scroll bars
html {
    overflow-y: scroll;
}

.fluid {
  width: 100%;
}
