<div class="well">
  <div class="row">
    <div class="col-sm-6"><h1 class="heading">Task Editor</h1></div>

    <div class="col-sm-6">
      <!--  Not in editor mode -->
      <a *ngIf="!task" routerLink="/administration/" class="btn btn-default task-util-button">Back</a>
      <a *ngIf="!task" class="btn btn-blue task-util-button" (click)="openTaskDialog()">New Task</a>

      <!-- In editor mode -->
      <a *ngIf="task" routerLink="/administration/" class="btn btn-default task-util-button">Cancel</a>
      <a *ngIf="task" class="btn btn-red task-util-button" (click)="submitTask()">Save</a>

    </div>

  </div>


  <div *ngIf="task">

    <!-- Event container -->
    <div class="event-container">
      <div class="row">
        <div class="col-sm-12"><h3>Event</h3></div>
      </div>


      <div class="panel panel-primary" *ngIf="task.event">
        <div class="panel-heading">
          <h3 class="panel-title">{{task.event.name}}</h3>
        </div>

        <div class="panel-body">
            {{task.event.description}}
        </div>
      </div>

      <div class="center">
          <p class="description" *ngIf="!task.event">You need to choose an event for your task. Your task will be executed when the event is fired.
          If you have no events yet head to the <a class="hint" routerLink="/administration/event/">event editor</a> to create new events</p>
          <a class="btn btn-blue" (click)="openEventDialog()">Choose Event</a>
      </div>
    </div>

    <!-- Actions container -->
    <div class="actions-container">
      <div class="row"><div class="col-sm-12"><h3>Actions</h3></div></div>

      <p *ngIf="!task.actions.length" class="center"> Pick an action below </p>

      <unit *ngFor="let unit of task.actions" [task]="task" [unit]="unit"></unit>

      <div class="center"><a class="btn btn-blue" (click)="openUnitDialog()">Add Action</a></div>

    </div>
  </div>
</div>
